.cardManagerContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  min-width: 1000px; /* Minimum width */
  max-width: 1600px; /* Maximum width */
  margin: 0 auto;
  padding: 2rem;
  flex: 1;
  width: 100%;
  overflow-x: auto; /* Keep scrolling for when table is very wide */
}

.header {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .content {
    padding: 1rem;
  }
}